.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}
.search-bar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.add-button {
  background-color: #2e7d32; /* Зелений */
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.add-button:hover {
  background-color: #1b5e20;
}